@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#moodInput {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  width: auto;
  padding: 20px;
  caret-color: #fff;
  outline: none;
  caret-width: 5px; /* Thick caret */
}

#moodInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* Blinking caret effect */
@keyframes blink-caret {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/* #moodInput {
  animation: blink-caret 1s step-end infinite;
} */
